* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
:root {
  --primary: #ea580b;
  --dark: #202938;

  --text-main: #020202;
  --text-muted: #4c5664;

  --bg: #ffffff;
  --bg-soft: #fff7ee;

  --border: #feeed9;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text-muted);
  font-size: 16px;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
/* Add each section to this div with .container class to balance page margin */
.container {
  width: 85%;
  margin: auto;
}
/*  */
.section-header-title {
  color: var(--primary);
}

/* nav */
header {
  background-color: var(--bg);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.logo-area h1 {
  color: var(--dark);
}
.logo-area svg {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary);
}
.logo-text {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 500;
  transition: 0.3s;
}
.nav-links a:hover {
  color: #e67e22;
}

.menu-bars,
.close {
  display: none;
  font-size: 1.2rem;
}
.hero {
  width: 100%;
  height: 85vh;
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.474)),
    url("/images/home-hero-cover.png");
  background-size: cover;
  background-position: top bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.hero-content h1 {
  font-size: 2.7rem;
}
.hero-content p {
  font-size: 1.4rem;
}
.btn {
  padding: 8px 20px;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}
/*  */
.section-header-title {
  color: var(--primary);
}

/* ###################################### */
/* Our Culinary section */
.culinary-sec {
  width: 100%;
  height: auto;
  padding: 5% 0%;
}
.culinary-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section-header {
  text-align: center;
}
.section-header-desc {
  margin-top: 5px;
}
.culinary-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.culinary-card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.culinary-card-cover {
  height: 300px;
  /* background-color: #020202; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px 12px 0px 0px;
}
.culinary-card-content {
  padding: 20px;
}
.culinary-card-content-title {
  color: var(--text-main);
  /* font-size: medium; */
  margin-bottom: 5px;
  text-transform: capitalize;
}

.cv1 {
  background-image: url("https://foodish-api.com/images/dosa/dosa1.jpg");
}
.cv2 {
  background-image: url("https://foodish-api.com/images/dosa/dosa70.jpg");
}
.cv3 {
  background-image: url("https://foodish-api.com/images/dosa/dosa16.jpg");
}

.cv4 {
  background-image: url("https://foodish-api.com/images/dosa/dosa27.jpg");
}
.cv5 {
  background-image: url("https://foodish-api.com/images/dosa/dosa32.jpg");
}
.cv6 {
  background-image: url("https://foodish-api.com/images/dosa/dosa10.jpg");
}

/* ############################################################## */

/* Our Menu */
.menu-section {
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 10%;
}

.menu-section h2 {
  color: var(--primary);
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  color: var(--text-muted);
  margin-bottom: 40px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.menu-card {
  background: var(--bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1.3px solid var(--border);
  text-align: left;
}

.menu-card h3 {
  color: var(--primary);
  margin-bottom: 15px;
}

.menu-card ul {
  list-style: none;
  padding: 0;
}

.menu-card li {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--border);
  padding-bottom: 10px;
}
.menu-card li:last-child {
  border: none;
}
.item-name {
  font-weight: bold;
  color: var(--text-main);
}

.item-price {
  float: right;
  color: var(--primary);
  font-weight: 600;
}

.item-desc {
  font-size: 14px;
  color: var(--text-muted);
  margin-top: 5px;
}

/* ############################################################## */
.story {
  width: 100%;
  background: var(--bg);
  padding: 5% 0%;
}

.story-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  align-items: center;
}

.story-image img {
  height: 360px;
  object-fit: cover;
  border-radius: 12px;
}

.story-text {
  width: fit-content;
  height: fit-content;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  max-width: 520px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.story-text h2 {
  color: var(--primary);
  margin-bottom: 15px;
  font-size: 28px;
}

.story-text p {
  color: var(--text-muted);
  font-size: 0.84rem;
  line-height: 1.6;
}

.visit {
  width: 100%;
  background: var(--bg-soft);
  text-align: center;
  padding: 5% 0%;
}

.visit h2 {
  color: #ea580b;
  font-size: 28px;
  margin-bottom: 10px;
}

.visit p {
  color: #4c5664;
  margin-bottom: 60px;
}

.visit-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.visit-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 2px solid var(--border);
}

.visit-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-main);
}
.visit-card h3 svg {
  color: var(--primary);
}
.visit-card p {
  margin: 5px 0;
  color: #4c5664;
}
/* ############################################################## */

/* footer */

.main-footer {
  background-color: var(--dark);
  color: white;
  padding: 40px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-logo svg {
  color: var(--primary);
  font-size: 24px;
}
.footer-col ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style: none;
  margin-top: 0.8rem;
}
.footer-col ul li a {
  color: #9ca3af;
  text-decoration: none;
}
.footer-col ul li a:hover {
  color: var(--primary);
}
.footer-col p {
  color: #9ca3af;
  opacity: 0.5;
}
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 0.8rem;
}
.social-icons a {
  color: #9ca3af;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: var(--primary);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #2d3748;
  padding-top: 20px;
  color: #9ca3af;
}

/* Responsive */

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* header */
  header {
    height: 7vh;
  }

  /* hero */
  .hero {
    height: 40vh;
  }
  .culinary-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* story */
  .story-container {
    display: grid;
    grid-template-columns: 2fr;
  }
  .story-image img {
    width: 100%;
    height: auto;
  }
  .story-text {
    width: 100%;
    max-width: 100%;
  }
}
/* Smartphones */
@media only screen and (max-width: 767px) {
  /* header */
  .container {
    width: 95%;
  }
  body {
    position: relative;
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  nav {
    display: none;
    position: fixed;
    width: 80%;
    height: 100vh;
    background-color: var(--dark);
    top: 0%;
    right: 0%;
    box-shadow: horizontal vertical blur color;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.3s ease;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 2rem 0rem;
    position: absolute;
    top: 8%;
    width: 100%;
  }
  .nav-links li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2d3748;
    padding: 1.5rem 2rem;
    margin: 0%;
  }
  .nav-links li:last-child {
    border-bottom: none;
  }
  .nav-links li a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0%;
    padding: 0%;
  }
  .menu-bars {
    display: block;
  }
  .close {
    display: block;
    position: absolute;
    top: 6%;
    right: 6%;
    color: #fff;
  }
  .close svg {
    width: 32px;
    height: 32px;
  }
  /* hero */
  .hero {
    height: 60vh;
  }
  .hero-content h1 {
    font-size: 2.4rem;
  }

  /* Culinary */
  .culinary-sec {
    padding-top: 4rem;
  }
  .culinary-cards {
    grid-template-columns: 1fr;
  }

  /* menu */
  .menu-section {
    padding: 4rem 0rem;
  }
  .menu-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* story */
  .story {
    padding-bottom: 4rem;
  }
  .story-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .story-image img {
    width: 100%;
    height: auto;
  }

  /* visit us */
  .visit {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .visit-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* footer */
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-bottom p {
    font-size: 0.9rem;
  }
}
